<div ng-cloak ng-controller="LayoutController">
</div>

<div ng-controller="MessageController" id="fms-messenger" ng-cloak>
  <alert type="{{alertType}}" ng-show="userMessage" close="close()">
    <strong ng-show="title">{{title}}&nbsp;</strong>
    {{userMessage}}
  </alert>
</div>

<div class="container" id="fms-main-container">
  <div id="fms-main">
    <div ng-view></div>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom" ng-controller="LayoutController">
	<div class="container">
		<span class="footerLink" ng-click="logOut()">Log Out</span>
	</div>
</nav>

<!-- Hack for ensuring event-based services are instantiated -->
<div ng-controller="LoadServices" style="display:none;" aria-hidden="true"></div>

