<div class="col-md-12">
	<div class="row" id="gameViewMain">
		<div class="col-md-12">
			<div class="row" id="gameViewHead">
				<h1>{{gameData.name}}</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="row" id="gameViewBody">
				<div id="{{gameData.formattedName}}Overlay">
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-a0"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-a1"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-a2"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-a3"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-a4"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-a5"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-a6"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-a7"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-a8"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-a9"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-b0"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-b1"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-b2"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-b3"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-b4"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-b5"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-b6"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-b7"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-b8"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-b9"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-c0"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-c1"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-c2"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-c3"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-c4"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-c5"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-c6"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-c7"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-c8"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-c9"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-d0"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-d1"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-d2"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-d3"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-d4"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-d5"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-d6"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-d7"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-d8"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-d9"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-e0"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-e1"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-e2"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-e3"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-e4"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-e5"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-e6"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-e7"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-e8"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-e9"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-f0"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-f1"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-f2"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-f3"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-f4"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-f5"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-f6"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-f7"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-f8"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-f9"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-g0"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-g1"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-g2"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-g3"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-g4"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-g5"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-g6"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-g7"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-g8"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-g9"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-h0"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-h1"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-h2"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-h3"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-h4"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-h5"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-h6"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-h7"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-h8"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-h9"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-i0"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-i1"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-i2"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-i3"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-i4"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-i5"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-i6"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-i7"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-i8"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-i9"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-j0"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-j1"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-j2"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-j3"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-j4"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-j5"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-j6"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-j7"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-j8"></div>
					<div class="{{gameData.formattedName}}Square" id="{{gameData.formattedName}}-j9"></div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col=md=12">
					<div class="row" ng-repeat="piece in gameData.pieceDefinitions">
						<div class="col-md-6">
							<h4>{{ucFirst(piece.name)}}</h4>
						</div>
						<div class="col-md-6">
							<div class="row">
								<div class="col {{gameData.formattedName}}Token" id="{{piece.name}}Token{{$index + 1}}" ng-repeat="i in pieceCount(piece.count) track by $index">
									<span class="{{gameData.formattedName}}TokenLabel">
										<h3>{{ucTokenLabel(piece.name)}}</h3>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
